fastapi==0.115.11
uvicorn==0.30.6
sqlalchemy==2.0.38
asyncpg==0.30.0
redis==5.0.8
pyrogram==2.0.106
tgcrypto==1.2.5
pyjwt==2.8.0
passlib[bcrypt]==1.7.4
pydantic[email]==2.10.6
pytz==2024.1
pyotp==2.9.0
cryptography==42.0.8
psutil==5.9.8